@import "functions";
@import "compass/reset"; 
@import "compass/css3/transition"; 

/*Colores originales*/
$color-fondo:  #45464D;
$color-fuente: #438188;
$color-sombra: #4A3B42;
$color-nombre: #45ADA8;
$color-sombra-nombre: #337178;/**/

/*Colores 2*/
$color-fondo:  #144156;
$color-fuente: #69BCC3;
$color-sombra: #327C8C;
$color-nombre: #DA2B3A;
$color-sombra-nombre: adjust-lightness($color-nombre, -30);
$color-nombre-im: #B4FDF7;
$color-nombre-im-txt: $color-fuente;
$color-guitar: #B4FDF7;
$color-guitar-shadow: adjust-lightness($color-guitar, -65);


html, body{
    text-align: center;
    background-color: $color-fondo;
    color: $color-fuente;
    font-family: "museo-sans-1", "museo-sans-2", sans-serif;
    padding: 0;
    margin: 0;
}
.centered{
	width: 700px;
	margin: auto;
	position: relative;
	height: 1320px;
	margin-top: 80px;
}

$delta-top: 0px;

h1{
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-size: 150px;
    line-height: 1em;
	color: $color-nombre;
	font-weight: 900;
    text-shadow: 0.04em 0 $color-sombra-nombre;
	span{
		display: block;
		position: absolute;
		font-size: 50px;
		text-transform: lowercase;
		font-weight: normal;
		font-family: "bistro-script-web-1","bistro-script-web-2",serif;
    	text-shadow: none;
		background-color: $color-nombre-im-txt;
		color: $color-nombre-im;
		@include rounded(40px);
		padding: 15px 20px;
		top: $delta-top + 0;
		left: -20px;
		width: 40px;
		text-align: center;
	}
}
p{
    padding: 0;
    margin: 0;
    line-height: 1em;
}
span{
    display: block;
    line-height: 1em;
	position: absolute;
	top: $delta-top + 800px;
    text-shadow: 0.02em 0.02em $color-sombra;
}
.a{
    font-size: 80px;
	font-weight: 100;
	left: 45px;
	letter-spacing: -25px;
	top: $delta-top + 153px;
	font-family: "bistro-script-web-1","bistro-script-web-2",serif;
}
.number{
    font-size: 230px;
	font-weight: 100;
	left: 0px;
	letter-spacing: -25px;
	top: $delta-top + 122px;
}
.years{
    font-size: 118px;
    font-weight: 300;
	top: $delta-top + 135px;
	right: -10px;
}
.dev{
	right: 10px;
	top: $delta-top + 220px;
    font-size: 120px;
	font-weight: 700;
	letter-spacing: -2px;
	/*-webkit-transform: scale(1, 1.3);*/
}
.js{
	top: $delta-top + 310px;
    font-size: 100px;
	font-weight: 500;
	letter-spacing: 5px;
}
.other{
	top: $delta-top + 323px;
    font-size: 30px;
	right: -15px;
	font-weight: 700;
	letter-spacing: 5px;
	text-align: left;
	letter-spacing: 20px;
	span{
		position: relative;
    	font-size: 70px;
		top: $delta-top + -17px;
		left: 0;
		right: auto;
		letter-spacing: 22px;
		font-weight: 900;
	}
}
.ninja{
	top: $delta-top + 418px;
	right: 0;
    font-size: 112px;
	font-weight: 500;
	@include scale(1, 1.40);
	text-transform: uppercase;
}
.stars{
	top: $delta-top + 430px;
    font-size: 112px;
	font-weight: 500;
	width: 400px;
	letter-spacing: -5px;
	line-height: .5em;
	text-align: left;
}
.wanna{
    font-size: 80px;
	top: $delta-top + 520px;
	span{
		font-style: italic;
		display: inline-block;
		position: relative;
		left: auto;
		top: $delta-top + 0;
		font-weight: 900;
		border-bottom: 5px solid $color-fuente;
		height: 0.9em;
		word-spacing: 4px;
	}
}
.cofounder{
	top: $delta-top + 590px;
	font-size: 90px;
	text-align: left;
	font-weight: 900;
	width: 710px;
	letter-spacing: 11px;
	a{
		display: block;
		position: relative;
		color: $color-fuente;
		text-decoration: none;
		font-size: 156px;
		letter-spacing: -20px;
		font-weight: 700;
		left: -10px;
		@include scale(1,1.08);
		@include transition-property(all);
		@include transition-duration(200ms);
		top: $delta-top + 10px;
		q{
			position: absolute;
			@include scale(1,.98);
			top: $delta-top + -20px;
			right: 0;
			left: auto;
			font-size: 30px;
			font-weight: 500;
			width: 100%;
			letter-spacing: 0;
			width: 200px;
			text-align: center;
			line-height: 1em;
			&:before{
				content:"(";
				position: absolute;
				left: -15px;
				font-size: 140px;
				font-weight: 100;
				top:45px;
			}
			&:after{
				content:")";
				position: absolute;
				right: -15px;
				font-size: 140px;
				font-weight: 100;
				top:45px;
			}
		}
		&:hover{
			color: adjust-lightness($color-fuente, 10);
			@include scale(1,1.2);
			cursor: pointer;
		}
	}
}
.dah{
    font-size: 30px;
    letter-spacing: 9px;
	font-weight: 900;
	width: 110%;
	text-align: left;
	word-spacing: 35px;
	top: $delta-top + 805px;
	@include scale(1,2);
	text-shadow: 0.04em 0.04em $color-sombra;
	span{
		position: relative;
		top: $delta-top + 2px;
		display: inline-block;
		font-family: "bistro-script-web-1","bistro-script-web-2",serif;
		font-style: italic;
		@include scale(1.2, 0.8);
		text-shadow: 0.04em 0.04em $color-sombra,-0.05em -0.05em $color-fuente;
	}
}
.guitar{
	top: $delta-top + 890px;
    font-size: 170px;
	font-family: "bistro-script-web-1","bistro-script-web-2",serif;
	font-style: italic;
	color: $color-fuente;
	text-shadow: 0.02em 0.02em $color-sombra;
	@include scale(1, 1.7);
}